@page "/records"

<PageTitle>Records</PageTitle>

<h1>Records</h1>

<div class="border p-2 my-2">
    <label>Date: <input type="date" /></label>
    <label>Expenses: <input type="number" /></label>
    <label>Produces: <input type="number" /></label>
    <button class="btn btn-primary">Add</button>
</div>

<div class="border p-2 my-2">
    <button class="btn btn-info">Show all</button>
    <button class="btn btn-info">Number of records</button>
    <button class="btn btn-info">Statistics</button>
</div>

<div class="border p-0 my-2">
    <p></p>
</div>

@code {

}
